---
import ContactUs from '../components/ContactUs.astro'
import SectionLayout from '../components/SectionLayout.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='ติดต่อเรา'>
  <main>
    <SectionLayout>
      <ContactUs />
    </SectionLayout>
  </main>
</Layout>
