---
import Benefits from '../components/Benefits.astro'
import Hero from '../components/Hero.astro'
import OurServices from '../components/OurServices.astro'
import RecentWork from '../components/RecentWork.astro'
import WhyUs from '../components/WhyUs.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Do Pluak (ดูปลวก) - เราให้บริการกำจัดปลวก'>
  <main>
    <Hero />
    <section class='p-layout-mobile md:p-layout bg-white'>
      <Benefits />
    </section>

    <section class='p-layout-mobile md:p-layout bg-gray-100'>
      <OurServices />
    </section>

    <section class='p-layout-mobile md:p-layout bg-white'>
      <WhyUs />
    </section>
    <section class='p-layout-mobile md:p-layout bg-gray-100'>
      <RecentWork />
    </section>
  </main>
</Layout>
