---
import Benefits from '../components/Benefits.astro'
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Do Pluak (ดูปลวก) - เราให้บริการกำจัดปลวก'>
  <main>
    <Hero />
    <section class='px-[100px] py-[50px] bg-white'>
      <Benefits />
    </section>
  </main>
</Layout>
