---
import Benefits from '../components/Benefits.astro'
import Hero from '../components/Hero.astro'
import OurServices from '../components/OurServices.astro'
import WhyUs from '../components/WhyUs.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Do Pluak (ดูปลวก) - เราให้บริการกำจัดปลวก'>
  <main>
    <Hero />
    <section class='px-layout-mobile md:px-layout py-[50px] bg-white'>
      <Benefits />
    </section>

    <section class='px-layout-mobile md:px-layout py-[50px] bg-gray-100'>
      <OurServices />
    </section>

    <section class='px-layout-mobile md:px-layout py-[50px] bg-white'>
      <WhyUs />
    </section>
  </main>
</Layout>
