---
import { Image } from 'astro:assets'
import SectionHeader from './SectionHeader.astro'
import CheckList from './CheckList.astro'

const title = 'เราให้บริการกำจัดปลวกที่ดีที่สุด'
const description =
  'เราเข้าใจดีว่าปัญหาปลวกสร้างความเดือดร้อนให้คุณ และสร้างความเสียหายให้กับบ้านของคุณ บางครั้งแม้จะทำการฉีดปลวกแล้ว ปลวกก็ยังกลับมาสร้างปัญหาให้คุณอีก แต่ปัญหาเหล่านี้จะหมดไป ด้วยทีมงานผู้เชี่ยวชาญของดูปลวก เราสามารถกำจัดปัญหาปลวกของคุณได้อย่างตรงจุดและมีประสิทธิภาพ ทำให้ปลวกไม่มารบกวนใจคุณอีกต่อไป'

const items = [
  { text: 'บริการกำจัดปลวกครบวงจร' },
  { text: 'ประสบการณ์การกำจัดปลวกมากกว่า 10 ปี' },
  { text: 'ป้องกันและกำจัดปลวกอย่างมีประสิทธิภาพ' },
  { text: 'บริการอย่างรวดเร็วภายใน 24 ชม.' },
]
---

<div class='flex flex-col lg:flex-row gap-6 md:gap-16'>
  <Image
    src='https://placehold.co/450x450'
    alt='เตรียมการกำจัดปลวก'
    class='self-center lg:self-start'
    width={450}
    height={450}
    loading='lazy'
  />

  <div class='flex flex-col gap-6 self-center'>
    <SectionHeader>
      <Fragment slot='title'>{title}</Fragment>
      <Fragment slot='description'>
        {description}
      </Fragment>
    </SectionHeader>

    <CheckList items={items} />
  </div>
</div>
