<div class='hamburger'>
  <span class='line'></span>
  <span class='line'></span>
  <span class='line'></span>
</div>

<style>
  .hamburger {
    display: none;
  }

  .line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(64 64 64);
  }

  @media only screen and (max-width: 768px) {
    .hamburger {
      display: block;
      cursor: pointer;
    }

    .hamburger.active .line:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
</style>
