<div class='hamburger'>
  <span class='line'></span>
  <span class='line'></span>
  <span class='line'></span>
</div>

<style>
  .hamburger {
    display: none;
  }

  .line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(64 64 64);
  }

  @media only screen and (max-width: 768px) {
    .hamburger {
      display: block;
      cursor: pointer;
    }
  }
</style>
