---
const title = 'เราสู้ปลวกเพื่อบ้านที่คุณรัก'
const description =
  'ให้ผู้เชี่ยวชาญด้านการกำจัดปลวกดูแลบ้านของคุณและปกป้องบ้านของคุณจากปลวก'
---

<section class='px-layout-mobile md:px-layout bg-gray-900 flex items-center'>
  <div class='max-w-sm'>
    <h1 class='text-5xl text-white font-bold tracking-wide'>{title}</h1>
    <p class='text-gray-50 mt-4 tracking-wide'>{description}</p>

    <button
      class='mt-8 bg-white text-gray-900 h-11 box-border px-6 py-4 flex items-center'
      >ติดต่อฉีดปลวก</button
    >
  </div>
</section>

<style>
  section {
    height: calc(100vh - 232px);
  }
</style>
