---
import FaceBookIcon from './icons/FaceBookIcon.astro'
import GmailIcon from './icons/GmailIcon.astro'
import LineIcon from './icons/LineIcon.astro'

import { Image } from 'astro:assets'
import logo from '../assets/images/logo.svg'
import PinIcon from './icons/PinIcon.astro'
import MobileIcon from './icons/MobileIcon.astro'
---

<div
  class='px-[100px] h-10 box-border bg-gray-300 flex justify-between items-center'
>
  <p class='text'>เวลาให้บริการ: จันทร์ - ศุกร์ 06:00 ถึง 20:00 น.</p>
  <div class='flex gap-4'>
    <FaceBookIcon className='w-[18px] h-[18px]' />
    <LineIcon className='w-[18px] h-[18px]' />
    <GmailIcon className='w-[18px] h-[18px]' />
  </div>
</div>
<nav
  class='h-32 bg-white box-border px-[100px] flex justify-between items-center'
>
  <Image src={logo} alt='โลโก้ ดูปลวก' class='w-20 h-20' />

  <div class='flex gap-x-10'>
    <div class='flex gap-2.5 items-center'>
      <div
        class='rounded-full bg-gray-400 box-border w-16 h-16 grid place-content-center'
      >
        <PinIcon className='w-8 h-8' />
      </div>
      <div class='flex flex-col flex-wrap max-w-[200px]'>
        <p class='font-bold'>ที่อยู่</p>
        <p class='text-gray-700 text-sm'>
          55 ซอยรามอินทรา 58 ถน​นรามอินทรา​ กรุงเทพ
        </p>
      </div>
    </div>

    <div class='flex gap-2.5 items-center'>
      <div
        class='rounded-full bg-gray-400 box-border w-16 h-16 grid place-content-center'
      >
        <MobileIcon className='w-8 h-8' />
      </div>
      <div class='flex flex-col flex-wrap max-w-[100px]'>
        <p class='font-bold'>เบอร์โทร</p>
        <p class='text-gray-700 text-sm'>065-253-9196</p>
      </div>
    </div>
  </div>
</nav>

<div class='bg-gray-300 flex items-center justify-between px-[100px]'>
  <ul class='flex'>
    <li class='px-4 py-5 text-center bg-gray-700 text-white'>หน้าแรก</li>
    <li class='px-4 py-5 text-center'>เกี่ยวกับเรา</li>
    <li class='px-4 py-5 text-center'>บริการ</li>
  </ul>

  <button class='p-5 box-border h-12 bg-gray-900 text-white flex items-center'
    >ติดต่อฉีดปลวก</button
  >
</div>
