<div class='nav-drawer bg-white z-20'>
  <ul class='flex flex-col px-8 py-6 gap-y-2 border-b border-zinc-500'>
    <li class='py-2 w-full'>
      <a href='/'>หน้าแรก</a>
    </li>
    <li class='py-2 w-full'>
      <a href='/about'>เกี่ยวกับเรา</a>
    </li>
    <li class='py-2 w-full'>
      <a href='/services'>บริการของเรา</a>
    </li>
  </ul>

  <div class='px-8 py-6'>
    <a
      href='/contact'
      role='button'
      class='block text-center px-5 py-2.5 h-12 box-border bg-gray-900 text-white'
      >ติดต่อเรา</a
    >
  </div>
</div>

<div class='drawer-overlay'></div>

<style>
  .nav-drawer {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .drawer-overlay {
      display: none;
    }

    .drawer-overlay.active {
      display: block;
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background-color: rgb(24 24 27 / 0.5);
    }

    .nav-drawer {
      display: block;
      position: fixed;
      right: -100%;
      top: 64px;
      flex-direction: column;
      width: 80%;
      transition: 0.3s;
      height: calc(100vh - 64px);
    }

    .nav-drawer.active {
      right: 0;
    }
  }
</style>
