---
import CheckList from './CheckList.astro'
import PricingCard from './PricingCard.astro'
import SectionHeader from './SectionHeader.astro'

const title = 'บริการที่ดีที่สุดในราคาที่คุ้มค่าที่สุด'

const basicFeatures = [
  { text: 'สำรวจรังปลวกอย่างระเอียด' },
  { text: 'กำจัดปลวกภายในบ้าน' },
]

const standardFeatures = [
  ...basicFeatures,
  { text: 'กำจัดปลวกภายนอกบ้าน' },
  { text: 'บริการฉีดปลวกย้ำทุก 3 เดือน' },
  { text: 'ป้องกันปลวก' },
]
---

<SectionHeader className='text-center mx-auto'>
  <Fragment slot='title'>{title}</Fragment>
</SectionHeader>

<div class='flex flex-col md:flex-row gap-6 mt-16 justify-center items-center'>
  <PricingCard planName='เริ่มต้น' price={3500}>
    <div slot='features'>
      <CheckList items={basicFeatures} />
    </div>
  </PricingCard>

  <PricingCard planName='มาตรฐาน' price={5500} recommended>
    <div slot='features'>
      <CheckList items={standardFeatures} />
    </div>
  </PricingCard>
</div>
