---
import { Image } from 'astro:assets'
import SectionHeader from './SectionHeader.astro'
import CheckList from './CheckList.astro'

const title = 'เหตุผลที่คุณควรเลือกใช้บริการ "ดูปลวก"'
const description =
  'การหาเพื่อนคู่ใจของคุณที่พร้อมช่วยคุณจัดการปัญหาเรื่องปลวกไม่ใช่เรื่องง่าย โดยเฉพาะในขณะนี้ที่มีทางเลือกในการกำจัดปลวกอยู่มากมาย สิ่งที่ทำให้ทีมงานดูปลวกของเราแตกต่างคือความมุ่งมัน และการทำงานที่มีประสิทธิภาพเพื่อความเป็นอยู่ที่ดีของคุณ'

const items = [
  {
    title: '10 ปี+ จากประสบการณ์จริง',
    text: 'เมื่อคุณเลือกใช้บริการกับเรา คุณได้เลือกทศวรรษของประสบการณ์ที่เรามีในการกำจัดปลวก',
  },
  {
    title: 'บริการที่รวดเร็ว',
    text: 'ทีมงานดูปลวกสามารถเริ่มปฏิบัติการได้ทันทีภายใน 24 ชม. หลังจากที่คุณติดต่อเรา',
  },
  {
    title: 'ราคาที่คุณสบายใจ',
    text: 'คุณจะได้รับบริการที่ดีที่สุดจากทีมงานมืออาชีพของเราในราคาที่คุณพอใจ',
  },
]
---

<div class='flex flex-col lg:flex-row gap-0 md:gap-16'>
  <div class='hidden md:block relative self-center lg:self-start'>
    <Image
      src='https://placehold.co/600x600'
      alt='เตรียมการกำจัดปลวก'
      class='blur-sm max-w-md'
      width={600}
      height={600}
    />

    <div class='absolute inset-10 aspect-square bg-gray-900/40 w-fit'>
      <div class='flex flex-col gap-4 h-full justify-center px-10'>
        <div class='flex w-full'>
          <div class='px-4 py-3 bg-gray-900 text-white flex items-center'>
            572+
          </div>
          <div class='px-4 py-3 bg-gray-300 w-full'>กำจัดปลวกสำเร็จแล้ว</div>
        </div>

        <div class='flex w-full'>
          <div class='px-4 py-3 bg-gray-900 text-white flex items-center'>
            185+
          </div>
          <div class='px-4 py-3 bg-gray-300 w-full'>ป้องกันปลวก</div>
        </div>

        <div class='flex w-full'>
          <div class='px-4 py-3 bg-gray-900 text-white flex items-center'>
            385+
          </div>
          <div class='px-4 py-3 bg-gray-300 w-full'>ลูกค้าที่ไว้ใจ</div>
        </div>
      </div>
    </div>
  </div>

  <div class='space-y-16 self-center h-full'>
    <SectionHeader>
      <Fragment slot='title'>{title}</Fragment>
      <Fragment slot='description'>
        {description}
      </Fragment>
    </SectionHeader>

    <CheckList items={items} />
  </div>
</div>
